<ng-container>
    <div class="ml-2 sideBar">
        <div class="p-0 m-auto pt-4 ..d-md-none .d-lg-block">
            <img src="../../assets/clipart182747.png" class="center" />
        </div>
       <div class="label">Santa Inc</div>
       <p class="text-end p-1 text-light">v 4.1.2</p>
        <ul class="navbar-nav mt-5">
            <li class="nav-item active">
              <img src="../../assets/icons8-joystick-60.png" height='30px'alt="power">

              <a class="nav-link ml-2" [routerLink]="['/toyFactory']">Toys Factory</a>
           
            </li>
            <li class="nav-item">
              <img src="../../assets/icons8-sleigh-50.png" height='30px'alt="power">

              <a class="nav-link ml-2" [routerLink]="['/Delivery']">Delivery</a>
            </li>
            <li class="nav-item">
              <img src="../../assets/icons8-scales-32.png" height='30px' alt="power">

              <a class="nav-link ml-2" [routerLink]="['/Legal']">Legal</a>
            </li>
            <li class="nav-item">
              <img src="../../assets/icons8-power-32.png" height='40px' alt="power" class="icon">
                <a class="nav-link ml-2" [routerLink]="['/disconnect']">Disconnect</a>
              </li>
          </ul>
    </div>
</ng-container>
