.navbar-dark{
    border:none !important;
    }
    ::ng-deep .navbar-toggler-icon{
        width: 2.5em
    }
    .bg-success{
        background-color: #1f631f !important;
    }
    .title{
        font-family: Segoe Print;
        font-size: 110%;
        text-shadow: 3px 1px 4px #000000;
    }
   