<div class="d-flex justify-content-end ml-auto tree">
  <img
    src="../../assets/pngfind.com-pine-branch-png-1300688.png"
    width="200"
    class="image"
  />
</div>
<div class=""></div>
<div class="col-md-8 offset-md-2 fullScreen">
  <h4 class="text-danger fontStyle">Delivery List</h4>
  <table></table>
  <table class="w-100">
    <tr>
      <th>First Name</th>
      <th>Last Name</th>
      <th>Address</th>
      <th>Wishes</th>
    </tr>
  
    <tr *ngFor="let data of deliveryList[0].default | paginate: { itemsPerPage: 10, currentPage: p }">
      <td>{{ data.first_name }}</td>
      <td>{{ data.last_name }}</td>
      <td>{{ data.wishes }}</td>
      <td>{{ data.Address }}</td>
    </tr>
  </table>
  <div class="mt-4">
        <pagination-controls  (pageChange)="p = $event" class="pagination"></pagination-controls>

  </div>
</div>
